name: Domain Renewal Reminder

on:
  schedule:
    - cron: '0 0 */179 * *'  # 每179天运行一次
  workflow_dispatch:

jobs:
  send_reminder:
    runs-on: ubuntu-latest

    steps:
    - name: Send Telegram Reminder
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      run: |
        curl -s -X POST https://api.telegram.org/bot${{ env.TELEGRAM_TOKEN }}/sendMessage -d chat_id=${{ env.TELEGRAM_CHAT_ID }} -d text="Reminder: 是时候续订您的us.kg和pp.ua域名了！!"
